*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
}

html, body {
  height: 100vh;
}

body {
  font-family: sans-serif;
  font-style: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

